{% extends 'base.html' %}

{% block content %}
    <h1 class="title1">Mis galardones</h1>
        <div class="informacion">
            <div>
                <img src="../static/img/medal-gold.png" alt="img-perfil" class="galardon-img">
                <p class="username">Galadon 1</p>
            </div>
            <div>
                <img src="../static/img/medal-gold.png" alt="img-perfil" class="galardon-img">
                <p class="username">Galadon 2</p>
            </div>
        </div>
{% endblock %}