{% extends 'base.html' %}

{% block content %}

    <h1 class="title1">Bienvenido a Infolandyn</h1>
    <h2 class="title1">Espacio en pruebas</h2>
    <div class="wrapper">
        <div class="informacion">
            <div>
                <!-- Insertar fotografia -->
                <img src="../static/img/Logo_INFOLANDYN-300x232.jpg" alt="img-perfil" class="profile-img">
            </div>
            <h4>About us</h4>
            <p class="nombre-apellidos">Infolandyn</p>
            <p class="bio">Descripcion usuario</p>
        </div>
        <div class="estadisticas">
            <h4>Estadisticas</h4>
            <div>
                <img src="../static/img/t_2.jpg" alt="">
            </div>
        </div>
        <div class="comidas-favoritas">
            <h4>Mapping fallow lands</h4>
            <div>
                <iframe width="700" height="400" frameborder="0" scrolling="no" allowfullscreen src="https://arcg.is/0H0iDe0"></iframe>
            </div>
        </div>
        <div class="ultimos-galardones">
            <h4>Últimos galardones</h4>
            <!-- insert gold medal image -->
            <div>
                <img src="../static/img/infolandynGrande-1-1024x590.png" alt="img-perfil" width="700">
                <p class="username">Galadon 1</p>
            </div>
        </div>
    </div>
{% endblock %}
