{% extends 'base.html' %}

{% block content %}
    <h1 class="title1">Información Personal</h1>
        <div class="informacion">
            <div>
                <!-- Insertar fotografia -->
                <img src="../static/img/perro.jpg" alt="img-perfil" class="profile-img">
            </div>
            <h4>Información del perfil</h4>
            <p class="nombre-apellidos">Usuario</p>
            <p class="username">@usuario</p>
            <h5>Vive en</h5>
            <p class="direccion">Direcccion usuario</p>
            <h5>Biografía</h5>
            <p class="bio">Descripcion usuario</p>
            <a href="#">Modificar Información</a>
        </div>
{% endblock %}